/* Add CSS Styling */
.alpha{
    background-color: black;
    color: white;
}
.bravo {
    background-color: yellow;
}
.alpha .bravo {
    font-family: helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}