body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  border: 1px solid #eee;
  text-align: center;
  padding: 30px;
  
  
}

button {
  background: white;
  display: block;
  margin-left: 35%;
  padding: 10px;
}